#################
## log-files
#################
*.log

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

#############
## Python
#############
*.py[co]
*.py~


#############
## Emacs
#############
*~
.\#*
